.download {
  background-color: $second-bg;
  width: 280px;
  margin: 0 auto;
    padding-bottom: 33px;
}
.download__button {
  width: 281px;
  padding: 18px 39px;
  margin-bottom: 33px;
    &:hover {
      color: $hover-color;
      background-color: #ffffff;
    }
    &:active {
      color: rgba($hover-color, 0.3);
      background-color: #ffffff;

    }
}

.download__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0 34px;

  list-style: none;
}
.download__description {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
@media (max-width: $moibile-width-only) {
  .download__slogan {
    display: none;
  }
}
