.intro-inner {
    min-height: 460px;
    width: 100%;
    background-image: url("../img/bg/bg-back-mobile.jpg");
    background-repeat:no-repeat;
    background-position: 45% 0;
    background-color: $main-bg;
}

.intro-inner::before {
  content: "";
  display: block;
  width: 320px;
  height: 462px;

  margin: 0 auto;
  background-image: url("../img/intro/iphone-hand-mobile.png");
  background-repeat: no-repeat;
  background-position: 30% bottom;

}
.download {
  width: 280px;
  padding-top: 28px;
  padding-bottom: 35px;
  margin: 0 auto;

  color: #ffffff;
  text-align: center;
}

.download__button {
  width: 281px;
  padding: 18px 39px;
  margin-bottom: 33px;
    &:hover {
      color: $hover-color;
      background-color: #ffffff;
    }
    &:active {
      color: rgba($hover-color, 0.3);
      background-color: #ffffff;

    }
}

.download_app  {
  display: block;
  width: 47px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.downloads__app--apple {
  background-image: url("../img/svg/logo-apple.svg");
}
.downloads__app--android {
  background-image: url("../img/svg/logo-android.svg");
}
.downloads__app--microsoft {
  background-image: url("../img/svg/logo-microsoft.svg");
}
.download__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0 34px;

  list-style: none;
}
.download__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}


@media (max-width: $moibile-width-only) {
  .download__slogan {
    display: none;
    margin: 0;

  }
}
@media (min-width: $tablet-width) {
  .intro-inner {
    min-height: 730px;
    position: relative;
    min-height: 0;
    background-image: url("../img/bg/bg-back-tablet@1x.jpg");
  }
  .intro-inner::before {
    position: absolute;
    right: 20px;
    bottom: 0;

    width: 510px;
    height: 546px;
    background-image: url("../img/intro/iphone-hand-tablet@1x.png");
    background-position: right bottom;
    z-index: 1
  }
  .download {
    position: relative;
    width: 310px;
    margin: 0;
    margin-left: 20px;
    z-index: 2;
  }
  .download__slogan {
    font-size: 40px;
    line-height: normal;
    padding: 0 30px;
    margin-top: 180px;
  }
  .download__description {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .intro-inner {
    min-height: 853px;
    background-image: url("../img/bg/bg-back-desktop.jpg");
  }
  .intro-inner::before {
    position: absolute;
    right: 20px;
    bottom: 0;

    width: 750px;
    height: 1050px;
    background-image: url("../img/intro/iphone-hand-desktop@1x.png");
    background-position: right bottom;
    z-index: 1
  }
}
