.page-header {
  min-height: 465px;

  background-image: url("../img/iphone5hand.png"),
               url("../img/backgroundtablet.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 30% bottom, 45% 0;
  background-color: #000000;
}
