.page-header {
  position: absolute;
  background-color: rgba(#000000, 0.3);
  width: 100%;
  z-index: 3;

  &--full {
    position: relative;
    background-color: $main-bg;
  }
}

// .page-header__wrapper {
//
// }

.page-header__logo {
  display: inline-block;
  vertical-align: top;
  margin: 22px 20px;
  width: 75px;
  height: 22px;
  fill: #ffffff;
  vertical-align: top;


  &:hover {
    fill: $hover-color;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $moibile-width-only) {
  .page-header__logo-star,
  .page-header__logo-glasses,
  .page-header__logo-glasses-crop {
    display: none;
  }
  .page-header__logo-svg {
    margin-top: -17px;
    margin-left: -72px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    width: 147px;
    height: 40px;
    margin-top: 27px;
    margin-bottom: 42px;
  }
  .page-header__logo-star,
  .page-header__logo-glasses-crop {
    display: none;
  }
  .page-header__logo-glasses {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-star,
  .page-header__logo-glasses-crop {
    display: block;
  }
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 960px;
    padding: 0 10px;
  }
}
